@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Pokemon";
    src: local("Pokemon"), url(/fonts/PokemonSolid.ttf), format('truetype');
  }
}

html, body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

div, p, input, textarea, label {
}

button, p, a {
  all: unset;
}

p {
  display: block;
}